//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/caches.js')

block content
    .docs-header
        h1 Caches
        p Create and configure Ignite caches.
        hr
    .docs-body(ng-controller='cachesController')
        button(ng-click='createItem()' class=['btn', 'btn-primary'] ng-disabled='!create.template') &nbspAdd cache
        span from template:&nbsp
        button(class=['btn', 'btn-default'] ng-init="create.template = templates[0].value" ng-model='create.template' data-template='/select' data-placeholder='Choose cache template' bs-options='item.value as item.label for item in templates' bs-select)
        h3(ng-hide='caches.length == 0') Caches
        .links
            table.col-sm-12(st-table='rowCollection' st-safe-src='caches')
                tbody
                    tr(ng-repeat='row in rowCollection')
                        td.col-sm-6(ng-class="{active: row == selectedItem}")
                            a(ng-click='selectItem(row)') {{row.name}}, {{row.mode | displayValue:modes:'Cache mode not set'}}, {{row.atomicity | displayValue:atomicities:'Cache atomicity not set'}}
        .row.col-sm-12
            hr
        form.form-horizontal(name='editForm' ng-if='backupItem')
            h3 General
            .settings-row(ng-repeat='fld in generalGrp')
                span.col-sm-2 {{fld.name}}:
                .col-sm-3(ng-switch on='fld.type')
                    div(ng-switch-when='text')
                        input.form-control(type='text' ng-model='backupItem[fld.model]')
                    div(ng-switch-when='dropdown')
                        button.form-control(style='text-align: left' ng-model='backupItem[fld.model]' data-template='/select' data-placeholder='{{fld.placeholder}}' bs-options='item.value as item.label for item in {{fld.items}}' bs-select)
            .panel(bs-collapse data-start-collapsed='true')
                .panel-collapse(bs-collapse-target)
                    .settings-row
                        span.col-sm-2 Atomicity:
                        .col-sm-3
                            button.form-control(style='text-align: left' ng-model='backupItem.atomicity' data-template='/select' data-placeholder='Choose Atomicity' bs-options='item.value as item.label for item in atomicities' bs-select)
                    .settings-row
                        span.col-sm-2 Backups:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.backups' placeholder='0')
                    h3 Rebalance
                    .settings-row
                        span.col-sm-2 Mode:
                        .col-sm-3
                            button.form-control(style='text-align: left' ng-model='backupItem.rebalanceMode' data-template='/select' data-placeholder='Choose Mode' bs-options='item.value as item.label for item in rebalanceModes' bs-select)
                    .settings-row
                        span.col-sm-2 Pool size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalancePoolSize' placeholder='2')
                    .settings-row
                        span.col-sm-2 Order:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalanceOrder' placeholder='0')
                    .settings-row
                        span.col-sm-2 Batch size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalanceBatchSize' placeholder='512 * 1024')
                    .settings-row
                        span.col-sm-2 Timeout:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalanceTimeout' placeholder='10000')
                    .settings-row
                        span.col-sm-2 Delay:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalanceDelay' placeholder='0')
                    .settings-row
                        span.col-sm-2 Throttle:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.rebalanceThrottle' placeholder='0')
                .panel-heading
                    .panel-title
                        span(bs-collapse-toggle)
                            a(ng-click='expanded = true' ng-hide='expanded') Show advanced settings...
                            a(ng-click='expanded = false' ng-show='expanded') Hide advanced settings...
            button.btn.btn-primary(ng-click='saveItem(backupItem)' ng-disabled='editForm.$invalid') Save
            button.btn.btn-primary(ng-click='removeItem(selectedItem)' ng-disabled='editForm.$invalid') Remove
