//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/clusters.js')

block content
    .docs-header
        h1 Clusters
        p Create and configure Ignite clusters.
        hr
    .docs-body(ng-controller='clustersController')
        button(ng-click='createItem()' class=['btn', 'btn-primary'] ng-disabled='!create.template') &nbspAdd cluster
        span from template:&nbsp
        button(class=['btn', 'btn-default'] ng-init="create.template = templates[0].value" ng-model='create.template' data-template='/select' data-placeholder='Choose cluster template' bs-options='item.value as item.label for item in templates' bs-select)
        h3(ng-hide='clusters.length == 0') Clusters
        .links
            table.col-sm-12(st-table='rowCollection' st-safe-src='clusters')
                tbody
                    tr(ng-repeat='row in rowCollection')
                        td.col-sm-6(ng-class="{active: row == selectedItem}")
                            a(ng-click='selectItem(row)') {{row.name}}, {{row.discovery.kind | displayValue:discoveries:'Discovery not set'}}
                        //td
                        //    span(type='button' ng-click='removeItem(row)')
                        //        i(class=['fa', 'fa-remove'])
        .row.col-sm-12
            hr
        form.form-horizontal(name='editForm' ng-if='backupItem')
            h3 General
            .settings-row
                span.col-sm-2 Name:
                .col-sm-3
                    input.form-control(type='text' ng-model='backupItem.name')
            .settings-row
                span.col-sm-2 Discovery:
                .col-sm-3
                    button.form-control(style='text-align: left' ng-model='backupItem.discovery.kind' data-template='/select' data-placeholder='Choose discovery' bs-options='item.value as item.label for item in discoveries' bs-select)
            .panel(bs-collapse data-start-collapsed='true')
                .panel-collapse(bs-collapse-target)
                    h3 Atomic data structures
                    .settings-row
                        span.col-sm-2 Number of backup nodes:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.atomic.backups' placeholder='0')
                    .settings-row
                        span.col-sm-2 Cache mode:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.atomic.cacheMode' placeholder='PARTITIONED')
                    .settings-row
                        span.col-sm-2 Sequence reserve size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.atomic.seqReserveSize' placeholder='1,000')
                    h3 Cache configuration
                    .settings-row
                        span.col-sm-2 Caches:
                        .col-sm-3
                            button.form-control(style='text-align: left' ng-model='backupItem.caches' data-template='/select' data-multiple='1' data-max-length='3' data-placeholder='Choose caches' bs-options='item.value as item.label for item in caches' bs-select)
                    .settings-row
                        input(type='checkbox' ng-model='backupItem.cacheSanityCheckEnabled')
                        span Enable cache sanity check.
                    h3 Events
                    .settings-row
                        span.col-sm-2 Include type:
                        .col-sm-3
                            button.form-control(style='text-align: left' ng-model='backupItem.inclEvtTypes' data-template='/select' data-multiple='1' data-max-length='2' data-placeholder='Choose recorded event types' bs-options='item.value as item.label for item in events' bs-select)
                    h3 Marshaller
                    .settings-row
                        span.col-sm-2 Keep alive time:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.marshCacheKeepAliveTime' placeholder='10,000')
                    .settings-row
                        span.col-sm-2 Pool size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.marshCachePoolSize' placeholder='max(8, availableProcessors) * 2')
                    h3 Metrics
                    .settings-row
                        span.col-sm-2 Elapsed time:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.metricsExpTime' placeholder='0')
                    .settings-row
                        span.col-sm-2 History size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.metricsHistSize' placeholder='10,000')
                    .settings-row
                        span.col-sm-2 Log frequency:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.metricsLogFreq' placeholder='60,000')
                    .settings-row
                        span.col-sm-2 Log frequency:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.metricsUpdateFreq' placeholder='60,000')
                    .settings-row
                        span.col-sm-2 Update frequency:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.metricsLogFreq' placeholder='60,000')
                    h3 Network
                    .settings-row
                        span.col-sm-2 Timeout:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.netTimeout' placeholder='5,000')
                    .settings-row
                        span.col-sm-2 Send retry delay:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.sndRetryDelay' placeholder='1,000')
                    .settings-row
                        span.col-sm-2 Send retry count:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.sndRetryCnt' placeholder='3')
                    h3 Peer Class Loading
                    .settings-row
                        input(type='checkbox' ng-model='backupItem.p2pEnabled')
                        span Enable peer class loading.
                    .settings-row
                        span.col-sm-2 Local class path exclude:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.p2pLocClsPathExcl' placeholder='[]')
                    .settings-row
                        span.col-sm-2 Missed resources cache size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.p2pMissedCacheSize' placeholder='100')
                    .settings-row
                        span.col-sm-2 Pool size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.p2pPoolSize' placeholder='availableProcessors')
                    h3 Thread pools size
                    .settings-row
                        span.col-sm-2 Public:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.pubPoolSize' placeholder='max(8, availableProcessors) * 2')
                    .settings-row
                        span.col-sm-2 System:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.sysPoolSize' placeholder='max(8, availableProcessors) * 2')
                    .settings-row
                        span.col-sm-2 Management:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.mgmtPoolSize' placeholder='4')
                    h3 Transactions configuration
                    // TODO
                    .settings-row
                        span.col-sm-2 Default transaction timeout:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.transactions.dfltTxTimeout' placeholder='0')
                    .settings-row
                        span.col-sm-2 Pessimistic log cleanup delay:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.transactions.pessimisticTxLogSize' placeholder='10,000')
                    .settings-row
                        span.col-sm-2 Pessimistic transactions log size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.transactions.pessimisticTxLogSize' placeholder='0')
                    .settings-row
                        input(type='checkbox' ng-model='backupItem.transactions.txSerEnabled')
                        span Enable serializable cache transactions.
                    h3 Utility
                    .settings-row
                        span.col-sm-2 Keep alive time:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.utilityCacheKeepAliveTime' placeholder='10,000')
                    .settings-row
                        span.col-sm-2 Pool size:
                        .col-sm-3
                            input.form-control(type='text' ng-model='backupItem.utilityCachePoolSize' placeholder='max(8, availableProcessors) * 2')
                .panel-heading
                    .panel-title
                        span(bs-collapse-toggle)
                            a(ng-click='expanded = true' ng-hide='expanded') Show advanced settings...
                            a(ng-click='expanded = false' ng-show='expanded') Hide advanced settings...
            button.btn.btn-primary(ng-click='saveItem(backupItem)' ng-disabled='editForm.$invalid') Save
            button.btn.btn-primary(ng-click='removeItem(selectedItem)' ng-disabled='editForm.$invalid') Remove